html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #ccc;
  margin: 0;
}

main {
  padding-left: 1rem;
  padding-right: 1rem;
}

main p {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #afafaf;
}
h1 {
  margin: 0;
}

h2 {
  font-family: PT Sans Narrow, sans-serif;
  color: #323232;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "help amoeba super"
    ".    amoeba .    ";
    justify-content: space-between;
    grid-template-rows: 1fr 2.5em;
}

nav {
  background-color: #bd027d;
  grid-column: 1 / -1;
  grid-row: 1;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0;
  margin: 1rem;
}

h1 {
  grid-area: amoeba;
  z-index: 1;
}

nav li a {
  font-family: PT Sans Narrow, sans-serif;
  text-decoration: none;
  color: #eccee2;
  text-transform: uppercase;
  border: 2px solid #960062;
  border-radius: 6px;
  padding: .5em;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
}

section li {
  display: grid;
  grid-template-rows: 1fr;
  border: 2px solid #bebebe;
  border-radius: 6px;
  margin: 0;
  padding-top: .5em;
  color: #323232;
}

li img {
  width: 100%
}

div img {
  width: 1.5rem;
  order: -1;
}

div {
  font-size: .875rem;
  font-style: italic;
  display: flex;
  background-color: #bebebe;
  order: -1;
  border-radius: 1em 0 0 1em;
  justify-content: flex-end;
}

h3 {
  background-color: #bebebe;
  background-color: rgba (0,0,0,.);
  font-family: PT Sans Narrow, sans-serif;
  margin: 0;
  order: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

section {
  padding-bottom: 1rem;
  border-bottom: 2px solid #afafaf;
}
footer p {
  color: #323232;
}
footer a {
  color: #323232;
}
